PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=fanletter_post
SESSION_SECRET=your_session_secret
KAKAO_CLIENT_ID=e7a5b6bc5154302663f8259cafe7c53e
KAKAO_REDIRECT_URI=http://localhost:3000/auth/kakao/callback
PORTONE_STORE_ID=store-fdfeeba3-514f-479a-9c5e-8199d5dc1a96
PORTONE_CHANNEL_KEY=channel-key-b6f6f16b-b6c1-4eaa-93db-2385758d4665
PORTONE_API_KEY=your_portone_rest_api_key
PORTONE_API_SECRET=your_portone_rest_api_secret
PORTONE_WEBHOOK_SECRET=whsec_DB7Kx2WzsHyw6k742hTmRXByGedX8FzXakW659VIIGE=
