PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=fanletter_post
SESSION_SECRET=your_session_secret
KAKAO_CLIENT_ID=e7a5b6bc5154302663f8259cafe7c53e
KAKAO_REDIRECT_URI=http://localhost:3000/auth/kakao/callback
